/.idea/
/zentrale/config.h
/netz-relay/config.h
/sd-karteninhalt/*
/scripte/temperaturverlauf.csv
/temperatur_differenz_messer/config.h
/scripte/3phasiger_lastverlauf.csv
/scripte/feuchtigkeits_peaks.csv
